<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.xuyi.funny</string>
	<key>name</key>
	<string>funny</string>
	<key>poster</key>
	<string>funny_0.png</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_0.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_1.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_2.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_3.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_4.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_5.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_6.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_7.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_8.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_9.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_10.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_11.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_12.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_13.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>funny_14.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
