<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.tl.spoof</string>
	<key>name</key>
	<string>spoof</string>
	<key>poster</key>
	<string>tl_spoof_00.png</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_00.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_01.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_02.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_03.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_04.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_05.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_06.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_07.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_08.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>tl_spoof_09.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_10.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_11.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_12.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_13.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_14.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_15.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_16.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_17.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_18.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>tl_spoof_19.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
	</array>
</dict>
</plist>
