<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.xuyi.love</string>
	<key>name</key>
	<string>love</string>
	<key>poster</key>
	<string>love_0.png</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_0.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_1.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_2.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_3.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_4.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_5.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_6.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_7.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_8.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_9.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_10.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_11.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_12.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>love_13.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
