<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.xf.kate</string>
	<key>name</key>
	<string>kate</string>
	<key>poster</key>
	<string>xf_funny_01.png</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_funny_01.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_funny_02.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_funny_03.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_funny_04.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_love_01.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_love_02.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_love_03.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_love_04.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>xf_birthday_01.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>xf_birthday_02.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>xf_birthday_03.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>name</key>
            <string></string>
            <key>png</key>
            <string>xf_birthday_04.png</string>
            <key>gif</key>
            <string></string>
            <key>type</key>
            <string>0</string>
        </dict>
	</array>
</dict>
</plist>
