<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.xuyi.birthday</string>
	<key>name</key>
	<string>birthday</string>
	<key>poster</key>
	<string>birthday_0.png</string>
	<key>version</key>
	<integer>2</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_0.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_1.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_2.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_3.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_4.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_5.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_6.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_7.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>png</key>
			<string>birthday_8.png</string>
			<key>gif</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
